<div class="page-bg p-4">
	<div class="white-bg">
    	<div class="container">
            <div class="row">
                <div class="col-md-12 hd">
                    <h3>Claim Photo Capture</h3>
                </div>
                <div class="col-md-12 p-4">
                    <h4 class="text-center"><b>REPLACE WITH <br>ANY NICE</b></h4>
                </div>
                <div class="col-md-12">
                    <h5><b>A fast and easy way to capture your claim photos and documents!</b></h5>
                </div>
                <div class="col-9 light-color">
                </div>
                <div class="col-3 dark-color">
                </div>
                <div class="col-md-12 py-2">
                    <h5>Claim no. :2</h5>
                    <h5>Arslan Ahmad</h5>
                </div>
                <div class="col-md-12 photo">
                    <h4>Photo upload/capture</h4>
                </div>
                <%= render 'form', photo: @photo %>
            </div>
        </div>
    </div>
</div>

<script>
var insa = 4;
var cls = 'text-right';
$(document).on('change', 'input[type="file"]' ,function(event) {
  var obj_custom = this;
  var files = event.target.files;
  var image = files[0]
  var reader = new FileReader();
  reader.onload = function(file) {
    var img = new Image();
    img.src = file.target.result;
    img.width=84;
    $(obj_custom).siblings('.btnn').html(img);
  }
  reader.readAsDataURL(image);
});
$(document).on('click', '#add' ,function(event) {
  insa = parseInt(insa + 1);
  if(cls=='text-right')
  {
  	cls='';
  }else{
    cls='text-right';
  }
  var newDiv = '<div class="col-md-6 mt-2 '+cls+'"><p>Damage room overview '+insa+'</p><div class="upload-btn-wrapper"><button class="btnn" type="button"><img class="img-fluid" src="/assets/img-2.png"></button><input type="file" name="pictures[]"/></div></div>';
  $('#picdiv').append(newDiv);
});
</script>
